/* First Part */
.autoSizes {
    width: 100%;
    height: 100px;
}

.div1 {
    /* width: 684px;
    height: 41px; */
    padding-top: 29px;
    margin: 29px, 702px, 30px, 54px;
}

.logoAndHeader {
    display: inline-block;
    width: 185px;
    height: 41px;
    margin-left: 54px;
    vertical-align: middle;
}

.mainHeader {
    display: inline-block;
    font-size: 34px;
    color: #000000;
    vertical-align: top;
    font-family: 'Montserrat';
}

.navigation {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    /* width: 430px;
    height: 24px; */
    padding-left: 69px;
}

.liWordDisplay {
    display: inline-block;
}

.navLi {
    font-size: 16px;
    color: #000000;
    padding-right: 75px;
    font-family: 'Poppins500';
}

.contactLi {
    padding-right: 0px;
}

.blurryImage {
    /* display: inline-block;  */
    /* width: 1440px; */
    /* height: 316px; */
    width: 100%;
    margin-bottom: 49px;
}

/* Second Part */

.ourProductsTitleDiv {
    font-size: 40px;
    color: #3A3A3A;
    /* width: 269px;
    height: 48px; */
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 67px;
    font-family: 'Poppins700';
    line-height: 48px;
}

.productSection {
    display: block;
    text-align: center;
    padding: 17px 105px 74px 99px;
}

.productsDiv {
    display: inline-block;
    height: 446px;
}

.separateSection {
    display: inline-block;
    width: 285px;
    height: 446px;
    margin-right: 32px;
}

.lastImage {
    margin-right: 0px;
}

.titleAndAboutBox {
    width: 285;
    height: 145px;
    background-color: #F4F5F7;
}

.titleAndAbout12 {
    width: 138px;
    height: 61px;
}

.titleAndAbout3 {
    width: 121px;
    height: 61px;
}

.titleAndAbout4 {
    width: 224px;
    height: 61px;
}

.sameStyleProducts {
    padding-top: 16px;
    padding-left: 16px;
}

.productsTitleStyle {
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 8px;
    font-family: 'Poppins600';
}

.productDescription {
    font-size: 16px;
    color: #898989;
    font-family: 'Poppins500';
}

/* Third Part */

.middleSection {
    text-align: center;
}

.titleBrowse {
    font-size: 32px;
    color: #333333;
    line-height: 48px;
    font-family: 'Poppins700';
}

.littleBrowseTitlle {
    font-size: 20px;
    color: #666666;
    line-height: 30px;
    font-family: 'Poppins400';
}

.browseDivImages {
    margin-top: 62.29px;
    margin-right: 19.39px;
}

.imgSpace {
    margin-right: 20px;
}

.partBrowseImages {
    display: inline-block;
}

.browseP {
    font-size: 24px;
    color: #333333;
    line-height: 36px;
    margin-top: 30px;
    font-family: 'Poppins600';
}