/* Navigation Part */
.autoSizes {
    width: 100%;
    height: 100px;
}

.div1 {
    padding-top: 29px;
    margin: 29px, 702px, 30px, 54px;
}

.logoAndHeader {
    display: inline-block;
    width: 185px;
    height: 41px;
    margin-left: 54px;
    vertical-align: middle;
}

.mainHeader {
    display: inline-block;
    font-size: 34px;
    color: #000000;
    vertical-align: top;
    font-family: 'Montserrat';
}

.navigation {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    padding-left: 69px;
}

.liWordDisplay {
    display: inline-block;
}

.navLi {
    font-size: 16px;
    color: #000000;
    padding-right: 75px;
    font-family: 'Poppins500';
}

.contactLi {
    padding-right: 0px;
}

.blurryImage {
    width: 100%;
    margin-bottom: 49px;
}

/* Second Part (Our Productss) */

.ourProductsTitleDiv {
    font-size: 40px;
    color: #3A3A3A;
    /* width: 269px;
    height: 48px; */
    /* margin: 0 auto; */
    text-align: center;
    margin-bottom: 67px;
    font-family: 'Poppins700';
    line-height: 48px;
}

.productSection {
    display: block;
    text-align: center;
    padding: 17px 105px 74px 99px;
}

.productsDiv {
    display: inline-block;
    height: 446px;
}

.separateSection {
    display: inline-block;
    width: 285px;
    height: 446px;
    margin-right: 32px;
}

.lastImage {
    margin-right: 0px;
}

.titleAndAboutBox {
    width: 285;
    height: 145px;
    background-color: #F4F5F7;
    text-align: left;
}

.titleAndAbout12 {
    width: 138px;
    height: 61px;
}

.titleAndAbout3 {
    width: 121px;
    height: 61px;
}

.titleAndAbout4 {
    width: 224px;
    height: 61px;
}

.sameStyleProducts {
    padding-top: 16px;
    padding-left: 16px;
}

.productsTitleStyle {
    font-size: 24px;
    color: #3A3A3A;
    margin-bottom: 8px;
    font-family: 'Poppins600';
}

.productDescription {
    font-size: 16px;
    color: #898989;
    font-family: 'Poppins500';
    width: 138px;
}

.lastPrDesc {
    width: 224px;
    height: 24px;
}

/* The Third Part (Browse The Range) */

.middleSection {
    text-align: center;
}

.titleBrowse {
    font-size: 32px;
    color: #333333;
    line-height: 48px;
    font-family: 'Poppins700';
}

.littleBrowseTitlle {
    font-size: 20px;
    color: #666666;
    line-height: 30px;
    font-family: 'Poppins400';
}

.browseDivImages {
    margin-top: 62.29px;
    margin-right: 19.39px;
}

.imgSpace {
    margin-right: 20px;
}

.partBrowseImages {
    display: inline-block;
}

.browseP {
    font-size: 24px;
    color: #333333;
    line-height: 36px;
    margin-top: 30px;
    font-family: 'Poppins600';
}

/* The fourth part (Sofa Description) */

.twiceh4title {
    width: 100%;
    margin-right: 197px;
}

.sofadescriptionTitle {
    display: inline-block;
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    font-family: 'Poppins500';
    margin: 133px 56px 0px 197px;
}

.sofaAddinfo {
    display: inline-block;
    font-size: 24px;
    color: #9F9F9F;
    line-height: 36px;
    font-family: 'Poppins400';
}

.sofaP {
    font-size: 16px;
    color: #9F9F9F;
    line-height: 36px;
    font-family: 'Poppins400';
    margin-top: 37px;
    text-align: middle;
}

.descTextDiv {
    margin-left: 194px;
    margin-bottom: 30px;
    text-align: left;
}

.sofaImages {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.sofaSpace {
    margin-right: 29px;
}

/* The fifth part (buyDetails) */

.buyDetailsSection {
    height: 270px;
    padding: 100px 0px;
    background-color: #FAF3EA;
    margin-bottom: 48px;
}

.buyDetailsbox {
    display: inline-block;
    width: 267px;
    height: 70px;
    margin-right: 78.67px;
    text-align: left;
}

.lastBuyDetailBox {
    margin-right: 0px;
}

.allBuyDetail {
    width: 1, 334px;
    height: 70px;
    text-align: center;
}

.buyDetailTitle {
    font-size: 25px;
    color: #242424;
    line-height: 37.5px;
    font-family: 'Poppins600';
}

.buyDetail {
    font-size: 205x;
    color: #898989;
    line-height: 30px;
    font-family: 'Poppins500';
}

/* footer section */
.footerDiv {
    display: inline-block;
    width: 100%;
    margin-left: 100px;
    height: 505px;
}

.footerTitleAndP {
    display: inline-block;
}

.titleFurniro {
    display: inline-block;
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    font-family: 'Poppins700';
    margin-bottom: 50px;
    width: 85px;
    height: 36px;
}

.footerP {
    font-size: 16px;
    color: #9F9F9F;
    line-height: 24px;
    font-family: 'Poppins400';
}

.footerLinksBox {
    display: inline-block;
    /* width: 68px;
    height: 312px; */
    margin-right: 144px;
    vertical-align: top;
}

.footerList1 {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins500';
    margin-left: 338.01px;
}

.footerList2 {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins500';
    vertical-align: top;
    margin-left: 144px;
}

.titleLinks {
    color: #9F9F9F;
    margin-bottom: 55px;
}

.allLinksHelp {
    margin-bottom: 46px;
    color: #000000;
}

/* Contact Page */

.contactTitleP {
    text-align: center;
    margin-bottom: 128px;
}

.contactTitle {
    font-size: 36px;
    color: #000000;
    line-height: 54px;
    font-family: 'Poppins600';
}

.contactP {
    font-size: 16px;
    color: #9F9F9F;
    line-height: 24px;
    font-family: 'Poppins400';
}

.adressPhoneDiv {
    display: inline-block;
    vertical-align: top;
    margin-left: 82px;
    margin-right: 102px;
    width: 502px;
}

.phoneDiv {
    margin-top: 85px;
}

.adressTitlePhone {
    font-size: 24px;
    color: #000000;
    line-height: 36px;
    font-family: 'Poppins500';
    padding-top: 48px;
}

.adressTitlePhone1 {
    display: inline-block;
    margin-right: 30px;
}

.adressTitlePhone2 {
    display: inline-block;
    margin-right: 53px;
}

.adressAbout {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    font-family: 'Poppins400';
    width: 212px;
}

.aliveMap {
    display: inline-block;
    margin-left: 102px;
    margin-bottom: 137px;
}

.readMoreSection {
    width: 817px;
    height: 238px;
    margin: 0px 535px 60px 88px;
}

.readMoreTitle {
    font-size: 30px;
    color: #000000;
    line-height: 45px;
    text-align: left;
    font-family: Poppins500;
    margin-bottom: 12px;
}

.readMoreP {
    font-size: 15px;
    color: #9F9F9F;
    font-weight: 400;
    line-height: 22.5px;
    font-family: Poppins400;
    margin-bottom: 30px;
}

.readMore {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    line-height: 24px;
    font-family: Poppins400;
}

.line {
    width: 77px;
    border: 1px solid #000000;
}